:root {
  --bulma-info-h: 0deg;
  --bulma-info-s: 8%;
  --bulma-info-l: 9.8%;
  --bulma-success-h: 0deg;
  --bulma-success-s: 68%;
  --bulma-success-l: 43%;
  --bulma-warning-h: 41deg;
  --bulma-warning-s: 100%;
  --bulma-warning-l: 95%;
  --bulma-danger-h: 41deg;
  --bulma-danger-s: 100%;
  --bulma-danger-l: 95%;
}

/*
info - dark grey
success - red
warning - dark grey
danger - off-white
*/

body{
  background-color: var(--bulma-danger);
  font-family: "Noto Sans", sans-serif;
}

.tags {
  justify-content: center;

  &.is-left {
    justify-content: left;
  }
}

.navbar {
  border-bottom: 2px solid hsl(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l));
}

.navbar-item {
  font-family:"Noto Sans", sans-serif;
  font-weight: 600;
}

.footer {
  --bulma-footer-padding: 4rem 1.5rem;
  background-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l));
  border-top: 1px solid hsl(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l));
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;


  .buttons {
    justify-content: flex-end;
    gap: 1rem;

    &.are-medium {
      --bulma-control-size: 0.9rem;
    }
  }
}

.card .image img {
  max-height: 500px;
  object-fit: cover;
}

.card-content {
  display: flex;
  padding: 0.75rem 1rem;
  flex: 1;
  flex-direction: column;


  .content {
    flex: 1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
        border-bottom: 2px solid hsl(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l));

  }
}

.card-margin {
  margin-bottom: 5rem;
}


.object-cover {
  object-fit: cover;
}

.experience-margin {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.experience-border {
  border-top: 2px solid hsl(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l));
}

#hero {
  .hero-body {
    position: relative;
    z-index: 1;
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
    border-bottom: 2px solid hsl(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l));
  }

  .title {
    font-size: 6rem;
    font-family: "Fraunces", serif;
  }

  .subtitle {
    font-size: 1.1rem;
  }


.modal {
      --bulma-modal-card-head-background-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l));
      --bulma-modal-card-foot-background-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l));
      --bulma-modal-card-body-background-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l));
}

.modal-card-title {
    font-size: 2rem;
    font-weight: 600;
}



@media screen and (min-width: 1024px) {
  .section.is-medium {
    padding: 6.5rem 4.5rem;
  }
}

@media screen and (min-width: 769px) {
  .modal-content, .modal-card {
    margin: 0 auto;
    max-height: calc(100vh - var(--bulma-modal-content-spacing-tablet));
    width: 55rem;
  }
}
