:root {
  --bulma-primary-h: 326deg;
  --bulma-primary-l: 74%;
  --bulma-info-h: 191deg;
  --bulma-info-s: 97%;
  --bulma-info-l: 77%;
  --bulma-success-h: 265deg;
  --bulma-success-s: 89%;
  --bulma-success-l: 78%;
  --bulma-warning-h: 235deg;
  --bulma-warning-s: 15%;
  --bulma-warning-l: 14%;
  --bulma-danger-h: 231deg;
  --bulma-danger-s: 15%;
  --bulma-danger-l: 18%;
}

/*
primary - pink
info - blue
success - purple
warning - dark grey
danger - light grey
*/

html {
  scroll-behavior: smooth;
}

.tags {
  justify-content: center;
}

.footer {
  --bulma-footer-padding: 4rem 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  flex: 1;
}

@media screen and (min-width: 1024px) {
  .section.is-medium {
    padding: 6.5rem 4.5rem;
  }
}
